
h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

:root{
    --body-bg-color: rgb(20, 20, 20);
    --secondary-color: rgb(47, 179, 139);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 4em;
    background-color: rgb(46, 45, 45);
    margin: 20px;
    padding: 25px;
}

.container {
    display: flex;
    margin: 20px;
}

.header{
    background-color: var(--secondary-color);
    display: flex;
    font-size: 2em;
    align-items: center;
}

.header h2 {
    margin-left: 15px;
}

.header button {
    margin-left: auto;
    background: none;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

.header button:hover{
    background-color: rgba(255, 255, 255, 0.459)

}

/*
    LISTS (sidebar)
*/
.lists{
    width: 300px;
    min-height: 90vh;
    background-color: rgba(46, 45, 45, 0.459);
}

#lists li{
    list-style: none;
    font-size: 1.5em;
    display: flex;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#lists button {
    margin-left: auto;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}
#lists button:hover{
    background-color: rgba(255, 255, 255, 0.459);

}

#lists li:hover{
    background-color: rgba(65, 64, 64, 0.459);
    cursor: pointer;
}


.items{
    flex: 1;
}


.selected {
    background-color: white;
    color: rgb(20, 20, 20);
}

/*
    Items
*/

#items li {
    display: flex;
    background-color: rgb(46, 45, 45);
    margin:  0.75em;
    padding: 2em

}

#items li:hover {
    background-color: rgba(124, 124, 124, 0.459)
}

#items li div {
    margin-left: 1em;
}

#items .done{
    text-decoration: line-through;
    background-color: rgb(136, 135, 135);
}

#items .done:hover{
    background-color: rgb(136, 135, 135);

}

#newItemContainer {
    display: none;
}

.delete-button {
    margin-left: auto;
    display: block;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.delete-button:hover{
    background-color: rgba(255, 255, 255, 0.459)
}

.item-name-field{
    border: none;
    border-bottom: 2px solid black;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    background: none;
    color: white;
    font-size: 16px;
    margin-left: 16px;
}

.list-name-field{
    border: none;
    border-bottom: 2px solid black;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    background: none;
    color: white;
    font-size: 1em;
}


.hidden {
    visibility: hidden;
}

#items li:hover .hidden {
    visibility: visible;
}

#lists li:hover .hidden{
    visibility: visible;
}